  <div class="row">
        <div class="col-md-4 col-lg-5ths col-sm-6 col-xs-12">
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>2</h3>
              <p>Failed</p>
            </div>
            <div class="icon"> <i class="ion ion-close-circled"></i> </div>
            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#failed">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-lg-5ths col-sm-6 col-xs-12">
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>13</h3>
              <p>In Progress</p>
            </div>
            <div class="icon"> <i class="ion ion-stats-bars"></i> </div>
            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#inprocess">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <!--	<div class="clearfix visible-sm-block"></div> -->
        <div class="col-md-4 col-lg-5ths col-sm-6 col-xs-12">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>36</h3>
              <p>Completed</p>
            </div>
            <div class="icon"> <i class="ion ion-checkmark-circled"></i> </div>
            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#completed">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-lg-5ths col-sm-6 col-xs-12">
          <div class="small-box bg-olive">
            <div class="inner">
              <h3>15</h3>
              <p>Rerun/Attempts</p>
            </div>
            <div class="icon"> <i class="ion ion-loop"></i> </div>
            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#rerunAttempts">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-lg-5ths col-sm-6 col-xs-12">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>4</h3>
              <p>Deadline</p>
            </div>
            <div class="icon"> <i class="ion ion-calendar"></i> </div>
            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#deadline">More info <i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
      </div>