<header class="main-header">
  <a href="index.html" class="logo"><span class="logo-mini"></span><span class="logo-lg"></span></a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span></a>
    <div class="navbar-custom-menu">

    </div>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image"> <img src="./src/assets/img/user2.png" class="img-circle" alt="User Image"> </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#">Online</a> </div>

    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
          </span> </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a routerLink="dashboard" > <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a>
      </li>
      <li><a routerLink="client"><i class="fa fa-book"></i> <span>Feed by clients</span></a></li>
      <li><a href="#"><i class="fa fa-wrench "></i> <span>Manage Feed</span></a></li>
      <li><a href="#"><i class="fa fa-gears "></i> <span>Running Feed</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>